@import url("https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,400;0,900;1,700&display=swap");
:root{
--normal-font: 400;
--bold-font:600;
--bolder-font:900;
--primary-color:#465362;
--secondary-color:#011936;
--line-height:1.7rem;
--transition: 0.4 ease-in;
}
/* scroll effect smooth*/
html{
    scroll-behavior: smooth;
}
/* Resets*/
*{
    margin:0;
    padding:0;
    box-sizing: border-box;
    transition: var(--transition);
}
body{
    font-family:"Poppins",sans-serif;
}
ul li{
    list-style-type: none;
}
a{
    text-decoration: none;
    color: var(--primary-color);
}
a:hover{
    color:var(--secondary-color);
}
nav{
    background: #fff;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 1rem 1.5rem;
    box-shadow: 2px 3px 2px #f1f1f1;
    position: sticky;
    top:0;
    left:0;
    z-index: 1;
}

.logo{
    font-size: 2rem;
    font-weight: 500;
}
ul{
    display: flex;
    justify-content: space-between;
    align-items: center;
}
.nav-item{
    margin-left: 2rem;
}
.nav-link{
    font-weight: var(--bold-font);
}
.hero{
    display: flex;
    align-items: center;
    justify-content: space-between;
    gap:1.9rem;
    max-width: 1100px;
    margin:2rem auto -6rem;
}
.intro h2{
    font-size: 3rem;
    margin-bottom: 1rem;
    text-align: left;
}
.intro p{
    margin-bottom: 0.5rem;
    text-align:left;
}

.hero p{
    line-height: var(--line-height);
}
.land{
    color:var(--primary-color)
}
.here{
    color:var(--secondary-color)
}
.btn{
    margin-top: 1rem;
    display:inline-block;
    padding:0.8rem 0.6rem;
    border:none;
    color:#fff;
}
.lavender{
background-color: var(--secondary-color);
}
.lavender:hover{
background-color: #B5B2C2;
}
.blue{
background-color: var(--secondary-color);
color: #fff;
}
.blue:hover{
background-color: #A0C1D1;
color:#fff;
}
.sub{
    margin-top: 0rem;
}
.sub h2{
    text-align: center;
}

form{
    text-align: center;
    margin: 0.1rem 2 rem;
}
.email-sub{
    padding: 0.2rem;
    border: 1px solid var(--primary-color);
    border-radius: 4px;
}
.email-sub:focus{
    border: 1px solid var(--secondary-color);
    outline:none;
}
.submit-btn{
    background-color: var(--primary-color);
    color: #fff;
    padding:0.3rem;
    margin:0.5rem;
    border: none;
    border-radius: 2px;
    cursor: pointer;
}
.submit-btn:hover{
    background-color:  #b3b4b4;;
}
.sub #socicons {
    font-size: 1.3rem; 
    size: large;
    text-align: center;
    margin: auto;
} 
/* search container */
.search{
    width: 500px;
    margin:100px auto;
}
input[type="text"]{
    display: block;
    width: calc(100% - 24px);
    font-size: 18px;
    font-weight: 600;
    color: var(--primary-color);
    padding:10px;
    border:outline;
}
.search-btn{
    background-color: var(--primary-color);
    color: #fff;
    padding:0.3rem;
    margin:0.5rem;
    border: none;
    border-radius: 2px;
    cursor: pointer;
}
.search-btn:hover{
    background-color:  #b3b4b4;
}
/* search result styling */
.search-result-container{
    display: flex;
    flex-direction: column;
    justify-content: center;
    gap: 1rem;
    
}
.single-search-result{
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    padding: 0.5rem 2rem;
    margin: 0rem 5rem;
    gap: 1rem;
    justify-content: space-between;
    transition: all 0.25s;
}
.single-search-result:hover{
    box-shadow: var(--primary-color);
}
.single-search-result > img{
    height: 2rem;
}
.single-search-result > h3{
    font-size: 1.5rem;
}
.single-search-result > p{
   margin: auto; 
}
.single-search-result > a{
    background-color: #465362;
    border: 1px solid var(--secondary-color);
    border-radius: 5px;
    cursor: pointer;
    padding: 0.25rem 1rem;
    transition: all 0.25s;
    margin-left: auto;
    text-decoration: none;
    color: #011936;
}
.single-search-result > a:hover{
    background-color: #465362;
}
/* old market data styling */
.market-data-container{
    display: flex;
    flex-direction: column;
    justify-content: center;
    width: 700px;
    
}
.single-market-data{
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    padding: 0.5rem 2rem;
    margin: 0rem 5rem;
    gap: 1rem;
    column-gap: 20px;
    transition: all 0.25s;
}
.single-market-data > img{
    height: 2rem;
    
}
.single-market-data > h3{
    font-size: 1.5rem;
}
.single-market-data > p{
    margin-top: 0.45rem; 
}
.single-market-data > button{
    border: 1px solid var(--secondary-color);
    border-radius: 5px;
    cursor: pointer;
    padding: 0.25rem 1rem;
    transition: all 0.25s;
    margin-left: auto;
    text-decoration: none;
}
/* market data table styling */
#market-data-table, #market-data-table{
    width: 70%;
    margin: 0 auto;
}
#market-data-table th{
    padding: 8px;
    text-align: left;
    padding-top: 12px;
    background-color: var(--secondary-color);
    color: white;
}
#market-data-table th, #market-data-table td{
    padding: 8px;
    border-bottom: 1px solid var(--secondary-color);
}
#market-data-table td >img{
    height: 40px;
    width: 40px;
}

/* footer styling */
footer{
    border-top: 1px solid #f1f1f1;
    box-shadow: 0px -2px 3px #f1f1f1;
    text-align: center;
    padding: 2rem;
    align-items: center;
}

