@import url("https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,400;0,900;1,700&display=swap");
:root{
--normal-font: 400;
--bold-font:600;
--bolder-font:900;
--primary-color:#465362;
--secondary-color:#011936;
--line-height:1.7rem;
--transition: 0.4 ease-in;
}
/* scroll effect smooth*/
html{
    scroll-behavior: smooth;
}
/* Resets*/
*{
    margin:0;
    padding:0;
    box-sizing: border-box;
    transition: var(--transition);
}
body{
    font-family:"Poppins",sans-serif;
}
ul li{
    list-style-type: none;
}
a{
    text-decoration: none;
    color: var(--primary-color);
}
a:hover{
    color:var(--secondary-color);
}
nav{
    background: #fff;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 1rem 1.5rem;
    box-shadow: 2px 3px 2px #f1f1f1;
    position: sticky;
    top:0;
    left:0;
    z-index: 1;
}

.logo{
    font-size: 2rem;
    font-weight: 500;
}
ul{
    display: flex;
    justify-content: space-between;
    align-items: center;
}
.nav-item{
    margin-left: 2rem;
}
.nav-link{
    font-weight: var(--bold-font);
}