@import url("https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,400;0,900;1,700&display=swap");
:root{
--normal-font: 400;
--bold-font:600;
--bolder-font:900;
--primary-color:#465362;
--secondary-color:#011936;
--line-height:1.7rem;
--transition: 0.4 ease-in;
}
/* scroll effect smooth*/
html{
    scroll-behavior: smooth;
}
/* Resets*/
*{
    margin:0;
    padding:0;
    box-sizing: border-box;
    transition: var(--transition);
}
body{
    font-family:"Poppins",sans-serif;
}
ul li{
    list-style-type: none;
}
a{
    text-decoration: none;
    color: var(--primary-color);
}
a:hover{
    color:var(--secondary-color);
}
nav{
    background: #fff;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 1rem 1.5rem;
    box-shadow: 2px 3px 2px #f1f1f1;
    position: sticky;
    top:0;
    left:0;
    z-index: 1;
}

.logo{
    font-size: 2rem;
    font-weight: 500;
}
ul{
    display: flex;
    justify-content: space-between;
    align-items: center;
}
.nav-item{
    margin-left: 2rem;
}
.nav-link{
    font-weight: var(--bold-font);
}
.hero{
    display: flex;
    align-items: center;
    justify-content: space-between;
    gap:1.9rem;
    max-width: 1100px;
    margin:2rem auto -6rem;
}
.intro h2{
    font-size: 3rem;
    margin-bottom: 1rem;
    text-align: left;
}
.intro p{
    margin-bottom: 0.5rem;
    text-align:left;
}

.hero p{
    line-height: var(--line-height);
}
.land{
    color:var(--primary-color)
}
.here{
    color:var(--secondary-color)
}
.btn{
    margin-top: 1rem;
    display:inline-block;
    padding:0.8rem 0.6rem;
    border:none;
    color:#fff;
}
.lavender{
background-color: var(--secondary-color);
}
.lavender:hover{
background-color: #B5B2C2;
}
.blue{
background-color: var(--secondary-color);
color: #fff;
}
.blue:hover{
background-color: #A0C1D1;
color:#fff;
}
.sub{
    margin-top: 0rem;
}
.sub h2{
    text-align: center;
}

form{
    text-align: center;
    margin: 0.1rem 2 rem;
}
.email-sub{
    padding: 0.2rem;
    border: 1px solid var(--primary-color);
    border-radius: 4px;
}
.email-sub:focus{
    border: 1px solid var(--secondary-color);
    outline:none;
}
.submit-btn{
    background-color: var(--primary-color);
    color: #fff;
    padding:0.3rem;
    margin:0.5rem;
    border: none;
    border-radius: 2px;
    cursor: pointer;
}
.submit-btn:hover{
    background-color:  #b3b4b4;;
}
/* .social {
    text-align: center;
    margin: 2rem;
}*/
  
.sub #socicons {
    font-size: 1.3rem; 
    size: large;
    text-align: center;
    margin: auto;
} 
.search{
    width: 600px;
    margin:100px auto;
}
input[type="text"]{
    display: block;
    width: calc(100% - 24px);
    font-size: 18px;
    font-weight: 600;
    color: var(--primary-color);
    padding:10px;
    border:outline;

}
.data{
    margin: auto;
}

footer{
    border-top: 1px solid #f1f1f1;
    box-shadow: 0px -2px 3px #f1f1f1;
    text-align: center;
    padding: 2rem;
    align-items: center;
}

